.headerfix {
  /* position: fixed;
  top: 0; */
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
}
.header h1 {
  font-size: 1.75rem;
}

.homemenu {
  font-weight: bold;
  font-size: 1.25rem;
}

.homemenu .menu {
  margin-right: 1.25rem;
}
